cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.1
MouseInfo==0.1.2
numpy==1.22.0
Pillow>=6.2.2
PyGetWindow==0.0.7
PyMsgBox==1.0.7
pyparsing==2.4.2
pyperclip==1.7.0
pyproj==2.4.0
PyRect==0.1.4
PyScreeze==0.1.24
pyshp==2.1.0
python-dateutil==2.8.0
python3-xlib==0.15
PyTweening==1.0.3
six==1.12.0
